body
{
    font-style:Verdana;
    font-size:20px;
}

#div_top
{
    margin-top:4.5%;
}

.navbar-brand
{
    padding:0px;
}

.navbar
{
    background-color:#2a64b5;    
    opacity:0.50;
    filter:alpha(opacity=50); /* For IE8 and earlier */
    margin:0px;
}

.glyphicon
{
    color:Orange;
    margin-right:15px;
}

li
{
    height:53px;
}

ul.nav a
{
    height:53px;
    color:White;
}

ul.nav a:hover 
{ 
    color: Orange !important; 
    background-color:#2a64b5;
    border:2px solid Orange;
}

.navbar-brand img:hover
{
    border:2px solid Orange;
}

.panel-heading
{
    text-align:center;
    background-color:#2a64b5;    
    opacity:0.50;
    filter:alpha(opacity=50); /* For IE8 and earlier */
    margin:0px;
}

.panel 
{
    text-align:center;
    background-color:#2a64b5;    
    opacity:0.50;
    filter:alpha(opacity=50); /* For IE8 and earlier */
    margin:0px;
    color:White;
}