/* Large desktops and laptops */
@media (min-width: 1280px) {
    img 
    {
        display:normal;
    }
     .navbar-nav li a
    {
        font-size:21px;
    }
   

    .sidebar-nav li {
      line-height: 80px;
      text-indent: 10px;
    }

    .sidebar-nav li a {
      color: #fff;
      display: block;
      text-decoration: none;
      height:84px;
    }
   
}

/* Portrait tablets and medium desktops */
@media (min-width: 1120px) and (max-width: 1279px) {
    img 
    {
        display:normal;
    }
    .navbar-nav li a
    {
        font-size:17px;
    }

    .sidebar-nav li {
      line-height: 65px;
      text-indent: 10px;
    }

    .sidebar-nav li a {
      color: #fff;
      display: block;
      text-decoration: none;
      height:75px;
    }
}
@media (min-width: 992px) and (max-width: 1119px) {
    img 
    {
        display:normal;
    }
    .navbar-nav li a
    {
        font-size:15px;
    }
     .sidebar-nav li {
      line-height: 60px;
      text-indent: 10px;
    }

    .sidebar-nav li a {
      color: #fff;
      display: block;
      text-decoration: none;
      height:71px;
    }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

}

/* Landscape phones and smaller */
@media (max-width: 480px) {

}
body
{
    font-style:Verdana;
    font-size:20px;
}

.navbar-brand
{
    padding:0px;
}

.navbar
{
    background-color:#2a64b5;    
    opacity:0.70;
    filter:alpha(opacity=70); /* For IE8 and earlier */
    margin:0px;
}

.glyphicon
{
    color:Orange;
    margin-right:6px;
}
.spanFoot
{
    font-size:30px;
    }
ul.nav a
{
    height:53px;
    color:White;
    line-height: 10px;
}

ul.nav a:hover 
{ 
    color: Orange !important; 
    background-color:#2a64b5;
    border:2px solid Orange;
}

.navbar-brand img:hover
{
    border:2px solid Orange;
}

#div_content
{
  height: 370px;
}

#div_top
{
    padding-right:0px;
    width:100%;
}

/*---------- Sidebar ----------*/

 .sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidebar-nav li a:hover {
  color: #fff;
  text-decoration: none;
  border:2px solid Orange;
  color:Orange;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

/*.sidebar-nav > .sidebar-brand {
  height: 55px;
  line-height: 50px;
  font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
  color: #fff;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}
*/
#sidebar-wrapper {
    margin-right: -250px;
    right: 250px;
    width: 400px;
    min-width:250px;
    max-width:250px;
    max-height:700px;
    background: Blue;
    position: fixed;
    height: 100%;
    z-index: 1000;
    text-align:center;
    background-color:#2a64b5;    
    opacity:0.70;
    filter:alpha(opacity=70); /* For IE8 and earlier */
    color:White;
    margin-top:0%;
}

.footer {
    background: Blue;
    position: fixed;
    height: 50px;
    line-height:50px;
    z-index: 1000;
    text-align:center;
    background-color:#2a64b5;    
    opacity:0.70;
    filter:alpha(opacity=70); /* For IE8 and earlier */
    color:White;
}

#anim1
{
    margin-top:0%;
    width: 610px;
    left: -560px;
}
#anim2
{
    margin-top:55px;
    width: 300px;
    left: -250px;
}
.footer:hover {
    text-decoration: none;
    border:2px solid Orange;
    
}

.glyphicon-remove:hover
{
    color:Red;
}